/* projects.css */
body {
 background-color: #ffffff;
}
h1 {
 color: #13293D;
 text-align: center;
 font: 20px Arial, sans-serif;
}
p {
 color: #13293D;
 text-align: left;
 border: 20px Arial, sans-serif;
}